<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="servicio_emision.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="StringConexion" value="Data source=desadb02;persist security info=True;initial catalog=tnet2008;User Id=tnet;password=tnet" />
    <add key="CarpetaLogs" value="D:Logs\" />
    <add key="EnabledErrorLog" value="True" />
    <add key="wsSabreCommand.SabreCommandLLS1" value="https://sws-crt.cert.havail.sabre.com/ " />
    <add key="servicio_emision.servicio_emision.servicio_emision.wsSabreReadPNR.TravelItineraryReadLLSRQ" value="https://sws-crt.cert.havail.sabre.com/ " />
    <add key="wsSabreSessionClose.SessionCloseRQ" value="https://sws-crt.cert.havail.sabre.com/ " />
    <add key="wsSabreSessionCreate.SessionCreateRQ" value="https://sws-crt.cert.havail.sabre.com/ " />
    <add key="UserName" value="us3rS4br3" />
    <add key="PassWord" value="P4ssZZW0rd" />
    <add key="UsuarioSabre" value="9999" />
    <add key="ClaveSabre" value="ROBOT002" />
    <add key="PCCSabre" value="A3UC" />
    <add key="TAEmision" value="BC125A" />
    <add key="UsuarioSabreVOL" value="819626" />
    <add key="ClaveSabreVOL" value="WS430108" />
    <add key="PCCSabreVOL" value="6YSC" />
    <add key="TAEmisionVOL" value="BC125A" />
    <add key="ComisionNegociadas" value="0" />
    <add key="ComisionNegociadasCaja" value="0" />
    <add key="UseCurrencyCode" value="true" />
    <add key="CurrencyCode" value="MCLP" />
    <add key="servicio_emision.servicio_emision.servicio_emision.wsSabreReadPNR_RQ.TravelItineraryReadRQ3" value="https://sws-crt.cert.havail.sabre.com/ " />
    <add key="GetReservationOperation.GetReservationWSDL" value="https://sws-crt.cert.havail.sabre.com/ " />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>

  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <servicio_emision.Properties.Settings>
      <setting name="servicio_emision_GetReservationOperation_GetReservationService" serializeAs="String">
        <value>https://sws-crt.cert.havail.sabre.com/ </value>
      </setting>
      <setting name="servicio_emision_wsSabreCommand_SabreCommandLLSService" serializeAs="String">
        <value>https://sws-crt.cert.havail.sabre.com/ </value>
      </setting>
      <setting name="servicio_emision_wsSabreReadPNR_TravelItineraryReadService" serializeAs="String">
        <value>https://sws-crt.cert.havail.sabre.com/ </value>
      </setting>
      <setting name="servicio_emision_wsSabreReadPNR_RQ_TravelItineraryReadService" serializeAs="String">
        <value>https://sws-crt.cert.havail.sabre.com/ </value>
      </setting>
      <setting name="servicio_emision_wsSabreSessionClose_SessionCloseRQService" serializeAs="String">
        <value>https://sws-crt.cert.havail.sabre.com/ </value>
      </setting>
      <setting name="servicio_emision_wsSabreSessionCreate_SessionCreateRQService" serializeAs="String">
        <value>https://sws-crt.cert.havail.sabre.com/ </value>
      </setting>
    </servicio_emision.Properties.Settings>
  </applicationSettings>
</configuration>
